@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ✨ Tailwind에서 컴포넌트 별로 bg-.../50 등 활용 가능! */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Pretendard', Arial, Helvetica, sans-serif;
}
